<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <header>
    <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Our Bestsellers</h2>

    <p class="mt-4 max-w-md text-gray-500">
      Explore our most popular picks that customers love. These top-rated
      sneakers combine style, comfort, and durability, making them must-haves
      for any sneaker enthusiast.
    </p>
  </header>

  <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
    <li>
      <a href="#" class="group block overflow-hidden">
        <img
          src="products/shoes-5.png"
          alt=""
          class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
        />

        <div class="p-3 relative bg-white pt-3">
          <h3
            class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
          >
            Adidas Samba
          </h3>

          <p class="mt-2">
            <span class="sr-only"> Regular Price </span>

            <span class="tracking-wider text-gray-900"> £99.00 GBP </span>
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="group block overflow-hidden">
        <img
          src="products/shoes-6.png"
          alt=""
          class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
        />

        <div class="p-3 relative bg-white pt-3">
          <h3
            class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
          >
            Veja V-12
          </h3>

          <p class="mt-2">
            <span class="sr-only"> Regular Price </span>

            <span class="tracking-wider text-gray-900"> £120.00 GBP </span>
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="group block overflow-hidden">
        <img
          src="products/shoes-3.png"
          alt=""
          class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
        />

        <div class="p-3 relative bg-white pt-3">
          <h3
            class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
          >
            Nike Jordan
          </h3>

          <p class="mt-2">
            <span class="sr-only"> Regular Price </span>

            <span class="tracking-wider text-gray-900"> £200.00 GBP </span>
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="group block overflow-hidden">
        <img
          src="products/shoes-4.png"
          alt=""
          class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
        />

        <div class="p-3 relative bg-white pt-3">
          <h3
            class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
          >
            Converse CDG
          </h3>

          <p class="mt-2">
            <span class="sr-only"> Regular Price </span>

            <span class="tracking-wider text-gray-900"> £130.00 GBP </span>
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
