<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <header>
    <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Our Bestsellers</h2>
    <p class="mt-4 max-w-md text-gray-500">
      Explore our most popular picks that customers love. These top-rated
      sneakers combine style, comfort, and durability, making them must-haves
      for any sneaker enthusiast.
    </p>
  </header>

  <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
    <li *ngFor="let shoe of products">
      <a
        [routerLink]="'/products/' + shoe.productId"
        class="group block overflow-hidden"
      >
        <img
          src="{{ 'products/' + shoe.imageUrl }}"
          alt="shoe.title"
          class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
        />
        <div class="p-3 relative bg-white pt-3">
          <h3
            class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
          >
            {{ shoe.title }}
          </h3>
          <p class="mt-2">
            <span class="sr-only"> Regular Price </span>
            <span class="tracking-wider text-gray-900">
              {{ shoe.unitPrice | currency }}
            </span>
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
