<aside
  class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6"
>
  <div
    class="absolute inset-0 h-full w-full bg-gradient-to-r from-green via-blue to-orange animate-gradient flex justify-center flex-col items-center"
  >
    <h2
      class="text-4xl font-extrabold text-white mb-8 animate-fade-in hidden lg:block"
    >
      Why Join Us?
    </h2>
    <ul class="text-white hidden lg:block space-y-6">
      <li class="text-xl flex items-center animate-fade-in-up delay-100">
        <fa-icon [icon]="['fas', 'star']" class="mr-3 text-2xl"></fa-icon>
        Exclusive Access
      </li>
      <li class="text-xl flex items-center animate-fade-in-up delay-200">
        <fa-icon [icon]="['fas', 'user']" class="mr-3 text-2xl"></fa-icon>
        Personalized Recommendations
      </li>
      <li class="text-xl flex items-center animate-fade-in-up delay-300">
        <fa-icon
          [icon]="['fas', 'tachometer-alt']"
          class="mr-3 text-2xl"
        ></fa-icon>
        Faster Checkout
      </li>
      <li class="text-xl flex items-center animate-fade-in-up delay-400">
        <fa-icon
          [icon]="['fas', 'shipping-fast']"
          class="mr-3 text-2xl"
        ></fa-icon>
        Order Tracking
      </li>
      <li class="text-xl flex items-center animate-fade-in-up delay-500">
        <fa-icon [icon]="['fas', 'heart']" class="mr-3 text-2xl"></fa-icon>
        Wishlist and Favorites
      </li>
    </ul>
  </div>
</aside>
